header{
    display: flex;
    align-items: center;
}

.logo {
    width: 200px;
    height: 200px;
}

.logo img{
    width: 100%;
}

nav a{
    margin: 5px;
    text-decoration: none;
    color: rgb(15, 15, 15);
    font-size: 19px;
}